{% extends "myapp/base.html" %}

{% block body %}
        <div class="container text-center">
            <h1 style="margin-top: 4%; margin-bottom: 4%; font-family: 'starWars'; color:limegreen;">Add to the Armoury</h1>
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% include 'myapp/formtemplate.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
{% endblock %}