{% extends 'myapp/base.html' %}

{% block body %}
        <div class="container" style="padding: 1%; margin-top: 2%">
            {% if user.is_authenticated %}
            <h3 style="color: yellow;"><span style="font-family: 'starWars'">Hello, </span>{{ region }} boi, <small>from {{ city }}</small></h3>
            {% endif %}
            <a href="/addarms/" class="btn btn-outline-success"><i class="fas fa-plus"></i>Add New Transaction</a>
            <a href="/selectupdate/" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>Edit Previous Transaction</a>         
            <a class="btn btn-outline-info offset-10" data-toggle="modal" data-target="#myModal"><i class="fas fa-clipboard-list"></i>View Weapons Summary</a> 
            
            <div id="myModal" class="modal fade">
                <div class="modal-dialog model-dialog-centered" role="document">
                    <div class="model-content" style="background:rgb(209, 215, 226);">
                        <div class="modal-header">
                            <h4 class="modal-title">Items in Armoury</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                            {% for arm in armoury_set %}
                                <li class="list-group-item">{{ arm }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-dark" style="margin: 2%;">
                <thead>
                    <tr>
                        <th>Transaction #</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arm in armoury %}
                        <tr>
                            <td>{{ arm.id }}
                            <td>{{ arm.item_name }}</td>
                            <td>{{ arm.quantity }}</td>
                            <td>{{ arm.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}