{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index1.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            {% if user.is_authenticated %}
            <h1>Hello, {{ user.username }}</h1>
            {% endif %}
            <a href="/addarms/" class="btn btn-outline-success offset-4">Add New Transaction</a>
            <a href="/selectupdate/" class="btn btn-outline-success">Edit Previous Transaction</a>         
            {% if user.is_authenticated %}
            <a href="/logout/" class="btn btn-danger offset-10">Log Out</a>    
            {% endif %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Transaction #</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arm in armoury %}
                        <tr>
                            <td>{{ arm.id }}
                            <td>{{ arm.item_name }}</td>
                            <td>{{ arm.quantity }}</td>
                            <td>{{ arm.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>