{% extends "myapp/base.html" %}

{% block body %}
        <div class="container text-center">
            <div class="display-3 text-warning text-center" style="margin-top: 7%; margin-bottom: 7%;">THE IMPERIAL ARMOURY</div>
            <a href="/inventory/" class="btn btn-outline-success">View Armoury</a><br><br>

            {% if not user.is_authenticated %}
            <a href="/registration/" class="btn btn-outline-danger">Login/Sign Up</a><br><br><br>
            {% endif %}

            <h4 style="color: white">The Empire has your location as {{ city }} in the {{ region }} area</h4>
        </div>
{% endblock %}