{% extends "myapp/base.html" %}

{% block body %}
        <div class="container text-center" style="margin:1.4%">
            <h1 style="font-family: 'starWars'; color: yellow">Log in</h1>
            <form method="post">
                {% csrf_token %}
                {% include './formtemplate.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Log In</button><br>
                </div><br>
                <div style="margin: 0.7%;"><span style="color: rgb(131, 131, 216);">No account?</span><a class="btn btn-success" style="margin: 0.7%;" href="{% url 'register' %}"><i class="fab fa-empire"></i>Sign Up!</a></div><br>
                <h3>---------OR---------</h3><br>
                <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark" style="margin: 0.7%;"><i class="fab fa-github" style="margin: 0.2%;"></i>Login with Github</a>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger" style="margin: 0.7%;"><i class="fab fa-google" style="margin: 0.2%;"></i>Login with Google</a>                
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary" style="margin: 0.7%;"><i class="fab fa-facebook-square" style="margin: 0.2%;"></i>Login with Facebook</a>
            </form>
        </div>
{% endblock %}