{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container text-center">
            <h1 style="margin-top: 7%; margin-bottom: 7%;">Register</h1>
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% include 'myapp/formtemplate.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button><br>
                    <a href="/login/" class="btn btn-info">Log In</a>
                </div>
            </form>
        </div>
    </body>
</html>