{% extends "theme_bootstrap/base.html" %}
{% load static %}
{% load account_tags %}

{% block head_title %}{% block title %}{% endblock %}{% endblock %}
{% block extra_head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ google_tracking_id }}');
</script>
{% endblock %}
{% block styles %}
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet"> -->
	<link href={% static 'css/style.css' %} rel="stylesheet" type="text/css">
{% endblock %}
{% block body_class %}bg-light h-100 m-0{% endblock %}
{% block topbar_base %}
{% block nav %}
	{% include "navigation.html" %}
{% endblock nav %}
{% endblock %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
	<!--PYBB Forum -->
	<script src={% static 'pybb/js/jquery.formset.min.js' %}></script>
	<script src={% static 'pybb/js/pybbjs.js' %}></script>
	<!--Extra scripts-->
	<script type="text/javascript">
		$(document).ready(function() {
				$('#id_username').focus();
				onResize()
		});
		var onResize = function() {
			// apply dynamic padding at the top of the body according to the fixed navbar height
			$("body").css("padding-top", $(".navbar.fixed-top").height())
		};
		// attach the function to the window resize event
		$(window).resize(onResize);
		$(".navbar-collapse").on('shown.bs.collapse', function (e) {
			onResize()
		}).on('hidden.bs.collapse', function(e) {
			onResize()
		})
		$("#leftNavbar").on('show.bs.collapse', function(e) {
			$("#rightNavbar").collapse("hide")
		})
		$("#rightNavbar").on('show.bs.collapse', function(e) {
			$("#leftNavbar").collapse("hide")
		})
	</script>
{% endblock %}

{% block body_base %}
	<main role="main" class="container">
		{% include "_messages.html" %}
		{% block content_base %}
			<div class="p-3 my-3 bg-white rounded box-shadow">
				{% block body %}{% endblock %}
			</div>
		{% endblock %}
	</main>
	{% include "login_modal.html" %}
{% endblock %}