{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container text-center">
            <div class="display-3 text-warning text-center" style="margin-top: 7%; margin-bottom: 7%;">THE IMPERIAL ARMOURY</div>
            <button type="button" class="btn btn-outline-success"><a href="/inventory/" style="text-decoration: none; color: inherit;">View Armoury</a></button><br><br>
            <button type="button" class="btn btn-outline-danger"><a href="/registration/" style="text-decoration: none; color: inherit;">Login/Sign Up</a></button>
        </div>
    </body>
</html>