{% extends "site_base.html" %}
{% load static %}
{% block title %}CLUBS{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock styles %}

{% block nav %}
{% with current="clubs" %}
{% include "navigation.html" %}
{% endwith %}
{% endblock %}

{% block body %}
<style >
  .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
  }
</style>

<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;" id="home">
  <img class="w3-image" src="{% static 'clubs/club_photos/club-collage.jpg' %}" alt="ALUMNI" width="1500" height="0">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>CLUBS<br></b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
  </div>
</header>
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Extra co-curricular activities are given a lot of preference in IIT BHU. It improves you as a person.There are several clubs in IIT BHU where students get involved. It aids at overall development of students.
    </p>
  </div>

  <div class="w3-container w3-padding-32" >
    {% for c in club %}
    <div >
      <h3>{{c.club_name}}</h3>
      <img src="{% static 'clubs/club_photos/' %}{{c.club_image_name}}"  alt="{{c.club_name}}" style="width:30%;" class="center" ><br>
      <p>{{c.club_content}}<br><br></p>
      <p><button class="center" style="color: #ffff;background-color: #3B5999; "  onclick="location.href='{{c.club_link}}' " >facebook</button></p>
    </div>
    <hr></hr>
    {% endfor %}
    



  </div>
{% endblock %}